<div id="<%= dom_id food %>">
  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= food.kind_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= food.price %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= food.memo %>
  </p>

  <p>
    <strong>Is deleted:</strong>
    <%= food.is_deleted %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= food.deleted_at %>
  </p>

</div>
